/* Importa o CSS base com resets e variáveis de cores */
@import './base.css';

/*
  Garante que o box-sizing seja mais intuitivo.
  Isso previne que padding e bordas aumentem o tamanho final dos elementos.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Força os elementos raiz (html, body) e o container da aplicação (#app)
  a ocuparem 100% da altura e largura da tela, sem margens.
*/
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Estilos padrão para links (mantidos do ficheiro original).
  É bom para a consistência visual.
*/
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}